@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Aprendamos acerca de  <a href="https://docs.microsoft.com/aspnet/core">la construcción de aplicaciones web con ASP.NET Core</a>.</p>
</div>
